@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700;900&family=Merriweather:wght@400;700;900&family=Open+Sans:wght@400;700;800&family=Permanent+Marker&family=Roboto:wght@400;700&display=swap');

/* combine design */

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    font-family: 'Merriweather', serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Roboto', sans-serif;
}

p {
    color: #757575;
    font-size: 18px;
}

button {
    color: #FFF;
    font-size: 20px;
    padding: 18px 36px;
    border-radius: 5px;
    color: white;
    background: #FD6E0A;
    border: 0;
    transition: .5s;
}

button:hover {
    color: #181818;
    cursor: pointer;
}

section {
    width: 72%;
    max-width: 1140px;
    margin: 130px auto;
    border-radius: 5px;
}

/* navigation design */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 51px 220px 0;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 20px;
    padding: 20px;
}

nav li>a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

nav h1 {
    color: #181818;
    font-size: 45px;
}

.f-color {
    color: #FD6E0A;
}

/* header design */

header {
    background: #ffebdd;
    width: 100%;
    height: 825px;
    background-image: url('../images/developer.png'),url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: left,bottom right;
    /* background-image: url('../images/developer.png');
    background-position: left; */
}

/* banner design */

.banner {
    display: flex;
    padding: 0px 0px 0 230px;
    align-items: center;
    justify-content: space-between;
}

.banner-text {
    width: 40%;
    max-width: 600px;
}

.benner-grity {
    color: #474747;
    font-size: 45px;
}

.banner-header {
    color: #181818;
    font-size: 85px;
    margin: 10px 0 30px;
}

.banner-paragraph {
    margin-bottom: 50px;
}

.btn-contact {
    background-color: #FFF;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    margin-left: 30px;
}

.banner img {
    height: 676px;
}

/* about me section */

#about-me {
    background-color: #fcf1ea;
    padding: 130px;
    height: 550px;
}

.about-me {
    text-align: center;
    width: 72.5%;
    max-width: 827px;
    margin: 131px auto 0;
}

.section-header {
    text-align: center;
    color: #181818;
    font-size: 35px;
    margin-bottom: 60px;
}

.section-description {
    margin: 0px 30px 80px;
}

#address ul {
    display: flex;
    justify-content: space-between;
}

#address li {
    list-style: none;
}

.address {
    margin-top: 10px;
}

/* skill design */

.skill-container {
    display: flex;
    justify-content: space-between;
    gap: 25px;
}

.skill {
    max-width: 267px;
    padding: 33px;
    box-shadow: 0px 6px 50px 0px rgba(109, 41, 41, 0.767);
}

.skill-title {
    margin: 30px 0 20px;
}

/* summery section */


.div-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.education {
    width: 50%;
}

.exoperience {
    width: 50%;
}

.resumi-item-title {
    margin: 30px 0 10px;
}

.resumi-item-description {
    margin: 30px 0;
}

.btn {
    text-align: center;
}

/* footer design */

footer {
    padding: 130px 230px;
    background: #FFF8F3;
    display: flex;
    gap: 100px;
    justify-content: space-between;
}

.footer-section {
    width: 50%;
    max-width: 562px;
}

.footer-header {
    color: #181818;
    font-size: 35px;
}

.connect-description {
    margin: 20px 0 30px;
}

.links {
    display: flex;
    gap: 30px;
}

form input,
textarea {
    display: block;
    margin: 30px 0;
    padding: 18px 30px;
    border-radius: 5px;
    background: #FFF;
    border: 0;
    width: 100%;
}